extends ./layout
    
block mainContentBlock
  h2 about
  if dbError
    p.text-error Gặp lỗi khi truy cập database rồi, chút làm lại thử coi được không


  p
    https://github.com/developmentseed/node-sqlite3
  
  p
    http://twitter.github.io/bootstrap

  p
    a(href="https://github.com/duylam/minion") See me in Github