extends ./layout
    
block mainContentBlock
  form#frmCreatRoom.form-horizontal(method="post", action="create")
    fieldset
      legend Tạo phòng
      #warningSection.alert.alert-error.invisible
        button.close(type="button") &times;
        span#warningMessage &nbsp;
        
      .control-group
        .controls
          - var peopleJoined = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];
          select#peopleAmountInput(name="peopleAmountInput")
            option(value="0") Số lượng người
            each p in peopleJoined
              option(value=p)= p
      .control-group
        .controls
          input#nameInput(type="text", placeholder="Tên bạn", name="nameInput")
      .control-group
        .controls
          button#btnCreateRoom.btn(type="button") Tạo phòng

  script(type="text/javascript")
    require([ 'home' ]);