extends ./layout
    
block mainContentBlock
  input#server_pickLess(type="hidden", value="#{pickLess}")
  form#frmJoinRoom.span4.form-horizontal(method="post", action="add")
    input(name="gameKeyInput",type="hidden", value="#{gameKey}")
    fieldset
      legend Vào phòng chơi
      .control-group
        label.control-label Tên bạn
        .controls
          input#nameInput.input-xlarge(type="text", placeholder="Tên bạn", name="nameInput", maxlength="100")
      .control-group
        label.control-label Loại
        .controls
          input#lblPickLess.input-large.hide(type="text", value="Nhiều ra ít bị", disabled) 
          input#lblPickMore.input-large.hide(type="text", value="Ít ra nhiều bị", disabled) 
      .control-group
        label.control-label Số người chơi
        .controls
          input.input-mini(type="text",value="#{playerAmount}",disabled)
      .form-actions
        button.btn.btn-primary(type="submit") Vào phòng

  script(type="text/javascript")
    require([ 'join' ]);