doctype 5
html
  head
    meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
    title Trần Quốc Toản ra quân
    script(type="text/javascript", src='/js/jquery.min.js')
    script(type="text/javascript", src='/js/bootstrap.min.js')
    script(type="text/javascript", src='/js/require.min.js')
    script(type="text/javascript", src='/js/underscore-min.js')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    block headerBlock
  body
    input#serverWebsocketPortValue(type="hidden", value="#{websocketPort}")
    script(type="text/javascript")
      require.config({
        baseUrl: '/js/modules'
        , paths: {
          'socketio': '../socket.io.v0.9.11'
        }
      });
  
    .container(style="width: 1000px;")
      ul.nav.nav-pills
        if page == 'home'
          li.active
            a(href="/") 
              i.icon-home.icon-white
              | Giới thiệu
        else
          li
            a(href="/") 
              i.icon-home
              | Giới thiệu
        if page == 'new'
          li.active
            a(href="/new") Tạo phòng
        else
          li
            a(href="/new") Tạo phòng
        
      
      block mainContentBlock
    
    
   