doctype 5
html
  head
    meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
    title Trần Quốc Toản ra quân
    script(type="text/javascript", src='/js/jquery.min.js')
    script(type="text/javascript", src='/js/bootstrap.min.js')
    script(type="text/javascript", src='/js/require.min.js')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
  body
    script(type="text/javascript")
      require.config({
        baseUrl: '/js/modules'
      });
  
    .container(style="width: 1000px;")
      a(href="/") Home
      
      block mainContentBlock
    
      a(href="https://github.com/duylam/minion") See me in Github
    
    
   