extends ./layout
    
block mainContentBlock
  form#frmCreatRoom.span6(method="post", action="create")
    fieldset
      legend Tạo phòng chơi
      .help-block Tạo phòng và sau đó gửi liên kết cho bạn bè để mời vào phòng
      .control-group
        .controls
          - var peopleJoined = [4, 5, 6, 7, 8, 9, 10];
          select#peopleAmountInput(name="peopleAmountInput")
            option(value="3") 3 (Số lượng người)
            each p in peopleJoined
              option(value=p)= p
      .control-group
        .controls
          input#nameInput.input-xlarge(type="text", placeholder="Tên bạn", name="nameInput", maxlength="40")
      .control-group
        .controls
          label.radio
            input(type="radio", name="pickLessInput", value="true", checked)
            | Nhiều ra ít bị 
          label.radio
            input(type="radio", name="pickLessInput", value="false")
            | Ít ra nhiều bị
      .form-actions
        button.btn.btn-primary(type="submit") Tạo phòng

  script(type="text/javascript")
    require([ 'new' ]);